@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    /* background-color: rgb(255, 255, 255); */
    /* height: 100vh; */

}

.image {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-color: black;

    padding: 4px;
    overflow: hidden;
    margin: 20px;

}

.profile_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    outline: 3px solid white;
    outline-offset: -3px;

    /* transition: transform 0.5s ease; */
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}



.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    max-width: 430px;
    width: 100%;
    padding: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    padding: 25px;
    text-align: center;
}


.profile-card .text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.text-data .name {
    font-size: 22px;
    font-weight: 500;
    color: #333;
    margin: 0px 0 5px 0;
}

.media-buttons {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}


.media-buttons i {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-size: 40px;
}



.media-buttons a {
    color: inherit;
    text-decoration: none;
    
}
.media-buttons a:hover {
    color: #1e252c;
    transform: translateY(-1px);
}


.profile-card button {
    position: relative;
    overflow: hidden;
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 16px;
    color: white;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.username {
    font-size: 22px;
    font-weight: 600;
}

.subtitle {
    font-size: 14px;
    color: #666;
}

.buttons {
    display: flex;
    gap: 12px;
    margin-top: 15px;
}

.btn:hover {
    background-color: #ffffff;
    transform: translateY(-1px);
}
.btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    color: white;
    background-color: black;
    border-radius: 6px;
    text-decoration: none; 
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.buttons .btn:hover {
    color: #000000;
    font-weight: 600;
    /* font-style; */
}

.profile-card::before {
    content: '';
    position: absolute;
    inset: -2px; /* slightly bigger for glow */
    background: linear-gradient(
        120deg,
        #ff95d4,
        #8581ff,
        #ffa260,
        #ffea97,
        #ef4444,
        #ff95d4
    );
    background-size: 300% 300%;
    animation: gradientMove 8s linear infinite;
    z-index: -1;
    border-radius: 26px;


    filter: blur(2px);
    opacity: 0.90;
}


@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 300% 50%;
    }
}


/* .profile-card::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 24px;
    z-index: -1;
    filter: blur(10px);
} */